<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="bimsync.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <bimsync.Properties.Settings>
            <setting name="Token" serializeAs="Xml">
                <value>
                    <Token xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <access_token />
                        <token_type>bearer</token_type>
                        <expires_in>3599</expires_in>
                        <refresh_token />
                    </Token>
                </value>
            </setting>
        </bimsync.Properties.Settings>
    </userSettings>
</configuration>